<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Restaurant </title>
        <meta name="author" content="YO Yo">
        <meta name="description" content="">
    </head>
    <body>
        <p>here nav bar is present</p>