<%- include ("helper/header")%>

		<body>
				
			<!--navbar-->

				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
						<a class="navbar-brand" href="#">Restaurant</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								
								<li class="nav-item active">
										<a class="nav-link" href="/">Home</a>
									</li>
								<li class="nav-item">
									<a class="nav-link disabled" href="#">Menu</a>
								</li><%if(member) { %>
									<li class="nav-item active">
										 <a class="nav-link" href="Login">Login</a>
									</li>
									<li class="nav-item active">
											  <a class="nav-link" href="Registration">Registration</a>
									</li><%}else{%>
										<li class="nav-item active">
											<a class="nav-link" href="/checker">Account</a>
									  </li>
										 <li class="nav-item active">
											  <a class="nav-link" href="/logout">Logout</a>
										 </li>
										 <%}%>
									<li class="nav-item active">
										<a class="nav-link" href="# ">Feedback</a>
									</li>
							</ul>
						</div>
					</nav>


					<div class="container mt-3">
							<nav class="">
								<div class="nav nav-pills justify-content-start" id="navBar" role="tablist">
									<a class="nav-item nav-link active mr-3" id="nav-food" data-toggle="pill" href="#nav-food-item" role="tab" area-control="nav-food-item" aria-selected="true">Food</a>
									<a class="nav-item nav-link mr-3 " id="nav-fastFood" data-toggle="pill" href="#nav-fastFood-item" role="tab" area-control="nav-fastFood-item" aria-selected="false">Fast Foods</a>
									<a class="nav-item nav-link" id="nav-sweets" data-toggle="pill" href="#nav-sweets-item" role="tab" area-control="nav-sweets-item" aria-selected="False">Sweets</a>
								</div>
							</nav>
							<div class="tab-content mt-3" id="nabTab">
								<div class="tab-pane fade show active" id="nav-food-item" role="tabpanel" aria-labelledby="nav-food">
										<div class="card-deck">	
											<div class="row">	



												<div class="col mt-4 ml-4">	
													<div class="card" style="width: 18rem;">
														<img src="/food3.jpg" class="card-img-top" alt="..." style="height: 15rem;">
														<div class="card-body">
															<h5 class="card-title">Card title</h5>
															<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
															<a href="#" class="btn btn-primary">Go somewhere</a>
														</div>
													</div>
												</div>
													


											</div>
										</div>
								</div>


								<div class="tab-pane fade" id="nav-fastFood-item" role="tabpanel" aria-labelledby="nav-fastFood">
									<div class="card-deck">	
										<div class="row">	
											
											
											<div class="col mt-4 ml-4">	
												<div class="card" style="width: 18rem;">
													<img src="/food3.jpg" class="card-img-top" alt="..." style="height: 15rem;">
													<div class="card-body">
														<h5 class="card-title">Card title</h5>
														<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
														<a href="#" class="btn btn-primary">Go somewhere</a>
													</div>
												</div>
											</div>



										</div>
									</div>
								</div>


								<div class="tab-pane fade" id="nav-sweets-item" role="tabpanel" aria-labelledby="nav-sweets">
									<div class="card-deck">	
										<div class="row">	


											<div class="col mt-4 ml-4">	
												<div class="card" style="width: 18rem;">
													<img src="/food3.jpg" class="card-img-top" alt="..." style="height: 15rem;">
													<div class="card-body">
														<h5 class="card-title">Card title</h5>
														<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
														<a href="#" class="btn btn-primary">Go somewhere</a>
													</div>
												</div>
											</div>
											
											

										</div>
									</div>
								</div>

								
							</div>
					</div>
				<!-- Optional JavaScript -->
				<!-- jQuery first, then Popper.js, then Bootstrap JS -->
				<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
				
		</body>
</html