<%- include ("helper/header")%>
</head>
    <body>
        
      <!-----------NAVBAR------------->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Restaurant</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarS" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarS">
              <ul class="navbar-nav mr-auto">
                
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/menu">Menu</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Registration</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Feedback</a>
                  </li>
              </ul>
            </div>
          </nav>

            <!--------class m1 is used to grab data from inputs
                       class m2 is used to notify error------>
        <div class="container pb-4 mt-5 shadow rounded" >
            <form action="/registration" onsubmit="return check()" method="POST">
               <div class="text-center alert alert-primary">
               	<h1 class="alert-heading"> <em>Registration</em></h1>
               </div>
               <% if (data){%>
               <p class="form-text text-danger text-center">Please enter data carefully. And use gmail id in place of email id</p>
               <% } %>
                
               <div class="row">
                  <div class="col">
                     <div class="form-group">
                           <label for="fname">First Name </label>
                           <input type="text" class="form-control m1" id="First Name" name="fname">
                           <p id="fnameinfo" class="form-text text-danger m2"></p>
                     </div>
                  </div>
                  <div class="col">
                     <div class="form-group">
                        <label for="lname">Last Name </label>
                        <input type="text" class="form-control m1" id="Last Name" name="lname">
                        <p id="lnameinfo" class="form-text text-danger m2"></p>
                     </div>
                  </div>
               </div>

               <div class="form-group">
                  <label for="uname">User Name </label>
                  <input type="text" class="form-control m1" id="User Name" name="uname">
                  <p id="unameinfo" class="form-text text-danger m2"></p>
               </div>
               <div class="form-group">
                  <label for="Password">Password </label>
                  <input type="password" class="form-control m1" id="Password" name="password">
                  <p id="passinfo1" class="form-text text-danger m2"></p>
               </div>
               <div class="form-group">
                  <label for="Rpassword">Password (Repeat)</label>
                  <input type="password" class="form-control m1" id="password">
                  <p id="passinfo2" class="form-text text-danger m2"></p>
               </div>
                
               <div class="row">
                  <div class="col">
                     <div class="form-group">
                           <label for="email">Email </label>
                           <input type="text" class="form-control m1" id="Email" name="email">
                           <p id="emailinfo" class="form-text text-danger m2"></p>
                     </div>
                  </div>
                  <div class="col">
                     <div class="form-group">
                        <label for="mobile">Mobile number</label>
                        <input type="number" class="form-control m1" id="Mobile Number" name="mobile">
                        <p id="mobileinfo" class="form-text text-danger m2"></p>
                     </div>
               	</div>
            	</div>
                
               <button type="submit" class="btn btn-primary">Submit</button>
               <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
            </form>
        </div>    
                
          
         
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
         function check(){
               for(var i=0;i<$(".m1").length;i++){
                  
                  if($(".m1")[i].value==0){
                     $(".m2")[i].innerHTML=("Enter "+$(".m1")[i].id);
                     for(var j=0;j<i;j++){
                        if($(".m1")[i].value!=0){
                           $(".m2")[j].innerHTML=("");
                        }
                     }
                     return false
                  }
                  for(var j=0;j<$(".m1").length;j++){
                        if($(".m1")[i].value!=0){
                           $(".m2")[j].innerHTML=("");
                        }
                     }
               }
               var pass1=$("#Password").val();
               var pass2=$("#password").val();
               if(pass1 != pass2){
                  $(".m2")[4].innerHTML=("Check your Password");
                  $(".m2")[3].innerHTML=("Check your Password");
                  return false
               }  
               var num=$(".m1")[6].value;
               if(num.length!=10){
                  $(".m2")[4].innerHTML=("");
                  $(".m2")[3].innerHTML=("");
                  $(".m2")[6].innerHTML=("Check your number");
                  return false
               }
               $(".m2")[6].innerHTML=("");
               return true
         }
        </script>
    </body>
</html